# CHAVITOXO F1 DATA SERVICE
PORT=3000

# Dominios autorizados a consumir la API.
# Separar por comas y SIN slash final.
ALLOWED_ORIGINS=http://127.0.0.1:5500,http://localhost:5500,https://chavitoxof1setups.com
